*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* Add this to your main CSS file */
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}